-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."AlarmSeverity" AS ENUM ('CRITICAL', 'WARNING');

-- CreateEnum
CREATE TYPE "public"."AlarmStatus" AS ENUM ('OPEN', 'RESOLVED');

-- CreateEnum
CREATE TYPE "public"."AlarmType" AS ENUM ('MISSING_DATA', 'GAS_OUT_OF_RANGE', 'PRESSURE_OUT_OF_RANGE', 'TEMPERATURE_OUT_OF_RANGE', 'CONSUMPTION_OUT_OF_RANGE', 'BATTERY_LOW');

-- CreateEnum
CREATE TYPE "public"."CustomerCategory" AS ENUM ('INDUSTRIAL', 'COMMERCIAL', 'RESIDENTIAL', 'DRS');

-- CreateTable
CREATE TABLE "public"."Alarm" (
    "id" TEXT NOT NULL,
    "deviceId" TEXT NOT NULL,
    "type" "public"."AlarmType" NOT NULL,
    "severity" "public"."AlarmSeverity" NOT NULL,
    "cause" TEXT NOT NULL,
    "gasValue" DOUBLE PRECISION,
    "averageValue" DOUBLE PRECISION,
    "forDate" TIMESTAMP(3) NOT NULL,
    "status" "public"."AlarmStatus" NOT NULL DEFAULT 'OPEN',
    "acknowledged" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Alarm_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."AlarmSettings" (
    "id" TEXT NOT NULL DEFAULT 'singleton',
    "gasDeviationWindowDays" INTEGER NOT NULL DEFAULT 7,
    "gasDeviationPercent" DOUBLE PRECISION NOT NULL DEFAULT 20,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "AlarmSettings_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Customer" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "category" "public"."CustomerCategory" NOT NULL,
    "address" TEXT,
    "gaId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Customer_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Device" (
    "id" TEXT NOT NULL,
    "deviceSerialNo" TEXT NOT NULL,
    "customerId" TEXT,
    "meterSerialNo" TEXT,
    "meterSize" TEXT,
    "firmwareVersion" TEXT,
    "hardwareVersion" TEXT,
    "deviceModel" TEXT,
    "configurationVersion" TEXT,
    "latitude" DOUBLE PRECISION,
    "longitude" DOUBLE PRECISION,
    "firstSeenAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "lastSeenAt" TIMESTAMP(3),
    "batteryLowerLimit" DOUBLE PRECISION,
    "consumptionLowerLimit" DOUBLE PRECISION,
    "consumptionUpperLimit" DOUBLE PRECISION,
    "pressureLowerLimit" DOUBLE PRECISION,
    "pressureUpperLimit" DOUBLE PRECISION,
    "temperatureLowerLimit" DOUBLE PRECISION,
    "temperatureUpperLimit" DOUBLE PRECISION,

    CONSTRAINT "Device_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."GeographicalArea" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT,
    "parentId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GeographicalArea_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Reading" (
    "id" TEXT NOT NULL,
    "deviceId" TEXT NOT NULL,
    "readingDate" TIMESTAMP(3) NOT NULL,
    "correctedVolumeVb" DOUBLE PRECISION,
    "uncorrectedVolumeVm" DOUBLE PRECISION,
    "gasPressure" DOUBLE PRECISION,
    "pressureMax" DOUBLE PRECISION,
    "pressureMin" DOUBLE PRECISION,
    "gasTemperature" DOUBLE PRECISION,
    "temperatureMax" DOUBLE PRECISION,
    "temperatureMin" DOUBLE PRECISION,
    "compressibilityZ" DOUBLE PRECISION,
    "compressibilityFpv" DOUBLE PRECISION,
    "correctionFactorC" DOUBLE PRECISION,
    "gasDensity" DOUBLE PRECISION,
    "hourlyConsumption" JSONB,
    "batteryLevel" DOUBLE PRECISION,
    "currentFlowRate" DOUBLE PRECISION,
    "rawPayload" JSONB NOT NULL,
    "receivedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Reading_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."RejectedConnectionAttempt" (
    "id" TEXT NOT NULL,
    "deviceSerialNo" TEXT NOT NULL,
    "rawPayload" JSONB NOT NULL,
    "attemptedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "acknowledged" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "RejectedConnectionAttempt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."SystemSettings" (
    "id" TEXT NOT NULL DEFAULT 'singleton',
    "maxMeterCapacity" INTEGER,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "alarmNotificationEmail" TEXT,

    CONSTRAINT "SystemSettings_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "Alarm_acknowledged_idx" ON "public"."Alarm"("acknowledged" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Alarm_deviceId_type_forDate_key" ON "public"."Alarm"("deviceId" ASC, "type" ASC, "forDate" ASC);

-- CreateIndex
CREATE INDEX "Alarm_severity_status_idx" ON "public"."Alarm"("severity" ASC, "status" ASC);

-- CreateIndex
CREATE INDEX "Alarm_status_createdAt_idx" ON "public"."Alarm"("status" ASC, "createdAt" ASC);

-- CreateIndex
CREATE INDEX "Customer_category_idx" ON "public"."Customer"("category" ASC);

-- CreateIndex
CREATE INDEX "Customer_gaId_idx" ON "public"."Customer"("gaId" ASC);

-- CreateIndex
CREATE INDEX "Device_customerId_idx" ON "public"."Device"("customerId" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "Device_deviceSerialNo_key" ON "public"."Device"("deviceSerialNo" ASC);

-- CreateIndex
CREATE UNIQUE INDEX "GeographicalArea_code_key" ON "public"."GeographicalArea"("code" ASC);

-- CreateIndex
CREATE INDEX "Reading_deviceId_readingDate_idx" ON "public"."Reading"("deviceId" ASC, "readingDate" ASC);

-- CreateIndex
CREATE INDEX "Reading_readingDate_idx" ON "public"."Reading"("readingDate" ASC);

-- CreateIndex
CREATE INDEX "RejectedConnectionAttempt_acknowledged_attemptedAt_idx" ON "public"."RejectedConnectionAttempt"("acknowledged" ASC, "attemptedAt" ASC);

-- AddForeignKey
ALTER TABLE "public"."Alarm" ADD CONSTRAINT "Alarm_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES "public"."Device"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Customer" ADD CONSTRAINT "Customer_gaId_fkey" FOREIGN KEY ("gaId") REFERENCES "public"."GeographicalArea"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Device" ADD CONSTRAINT "Device_customerId_fkey" FOREIGN KEY ("customerId") REFERENCES "public"."Customer"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."GeographicalArea" ADD CONSTRAINT "GeographicalArea_parentId_fkey" FOREIGN KEY ("parentId") REFERENCES "public"."GeographicalArea"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Reading" ADD CONSTRAINT "Reading_deviceId_fkey" FOREIGN KEY ("deviceId") REFERENCES "public"."Device"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

